<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <properties>
        <property name="LOG_HOME">D:/logs</property>
        <property name="FILE_NAME">mylog</property>
    </properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} | %t | %level ] %msg{nolookups}%n"/>
        </Console>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log"
                                 filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss} | %t | %level ] %msg{nolookups}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="info"/>
        </Root>
    </Loggers>
</Configuration>
